<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
  <title>{% block title %} 标题 {% endblock %}</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
	<script src="../static/js/jquery.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
	{% block js %}  
			<!--这里插入具体页面引用的js库，或者js代码-->  
	{% endblock %}  
	<script>
	$(function () {  
			//这里编写base界面的on_ready代码  
				
			{% block on_ready %}  
					//这里插入具体界面的on_ready代码  
			{% endblock %}  
	});  
	</script>
	<div class="container">
		<div class="row pricehover well">
			<div class="span1">
				<img src="../static/img/nun.png" class="img-rounded">
			</div>
			<div class="span5">
				<h1>北方民族大学</h1>
			</div>
			<div class="span5">
				<h2>实验室耗材管理系统</h2>
			</div>
		</div>
		<div class="row">
			{% if logged %}
			<div class="span5 offset7">
				<div class="pull-right">  
					<a href=#>欢迎您：{{ session.user.username }}</a>    
					<a class="btn danger small" href="{{ href_logout }}">注销</a>  
				</div>
			</div>
			{% endif %}
		</div>
		{% block content %} 内容 {% endblock %}
	</div>
</body>
</html>