{% extends "base.html" %}
{% block title %}登录{% endblock %}
{% block content %}
<form action="/login" method="post">
    <h1>{{ error }}</h1>
    <table>
        <tr>
            <td><label>用户名</label></td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td><label>密码</label></td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="登录" /></td>
        </tr>
    </table>
</form>
{% endblock %}
