{% extends "base.html" %}
{% block title %}注册{% endblock %}
{% block content %}
<form action="/registe" method="post">
    <h1>{{ error }}</h1>
    <table>
        <tr>
            <td><label>用户名</label></td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td><label>密码</label></td>
            <td><input type="password" name="password" /></td>
        </tr>
		<tr>
            <td><label>重复密码</label></td>
            <td><input type="password" name="password2" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="注册" /></td>
        </tr>
    </table>
</form>
{% endblock %}
